
/*.photostack{
	background: url('../img/background.png');
	background-size: cover;
	height: 550px;
}*/

.texte{
font-family: Open Sans Light;
font-size: 24px;
width: 780px;
color: white;
text-align: center;
margin-left: 23%;
}
.owl-item{
max-width: 100%;

}

.itemimg {
 max-width: 100%;	 
 width: 62%;
 height: 82%;
 border-radius:50%;
 box-shadow: 0 0 100px #f0f0f3 inset;
 position: absolute;
 margin: 7% 19%;
 }
.pastille{
 background-repeat: no-repeat; 
 background-position: center center;
 height:220px;
 	
}

 
