
.photostack{
	background: url('../img/background.png');
	width: 100%;
	height: 550px;
}

.texte{
font-family: Open Sans Light;
font-size: 24px;
width: 780px;
color: white;
text-align: center;
margin-left: 23%;
}
.owl-item{
max-width: 20%;
}

.itemimg {
	 
 margin:0px auto;
 width: 180px;
 height: 180px;
 border-radius:50%;
/* border:10px solid #b4bcc2;*/
 box-shadow: 0 0 100px #f0f0f3 inset;
/*background: radial-gradient(#FFF 8%, #f8f8f9)e8e8ed ;*/
 margin-left: 17%;
 position: absolute;
 margin-top: 7%;
 

 }
.pastille{

 margin-left: 4%;
 background-repeat: no-repeat; 
 background-position: center center;
 height:220px;
 	
}

 
